#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Check running processes.
#
command[check_mentat]=/usr/local/bin/mentat-controller.py --command status --nagios-plugin --log-level warning --shell

#
# Check event database.
#
command[check_mentat_edb]=/usr/local/bin/mentat-dbmngr.py --command watchdog-events --nagios-plugin --log-level warning --shell --user nagios --group nagios

#
# Check queue sizes.
#
{% for mmodule in [['mentat-inspector.py', 'inspector_a'], ['mentat-inspector-b.py', 'inspector_b'], ['mentat-enricher.py', 'enricher'], ['mentat-storage.py', 'storage']] %}
command[check_mentat_{{ mmodule[1] }}_errors_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/errors -w {{ hm_mentat__check_queue_dirs['w'] }} -c {{ hm_mentat__check_queue_dirs['c'] }}
command[check_mentat_{{ mmodule[1] }}_pending_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/pending -w {{ hm_mentat__check_queue_dirs['w'] }} -c {{ hm_mentat__check_queue_dirs['c'] }}
command[check_mentat_{{ mmodule[1] }}_incoming_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/incoming -w {{ hm_mentat__check_queue_size['w'] }} -c {{ hm_mentat__check_queue_size['c'] }}
command[check_mentat_{{ mmodule[1] }}_temp_dir]={{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/tmp -w {{ hm_mentat__check_queue_size['w'] }} -c {{ hm_mentat__check_queue_size['c'] }}
{% endfor %}
