#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Source file for project 'mentat', codebase '{{ hm_mentat__install_suite }}'
#
deb {{ hm_mentat__package_repository_url }}/mentat/deb {{ hm_mentat__install_suite }} main
