#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

# Load shared library.
. /opt/msms/lib/libmsms.sh


widget_separator_text "MENTAT" "${MSMS_SEPARATOR_GLYPH}" "${MSMS_SEPARATOR_PAD}" "${MSMS_FLAG_COLOR}" "${MSMS_WIDGET_WIDTH}"


#
# Check running processes.
#
/usr/local/bin/mentat-controller.py --command status --nagios-plugin --log-level warning | cut -f 1 -d \; | sed 's/^\s//' | nrpe_status_colorize "${MSMS_FLAG_COLOR}"

#
# Check event database.
#
/usr/local/bin/mentat-dbmngr.py --command watchdog-events --nagios-plugin --log-level warning --shell | cut -f 1 -d \; | sed 's/^\s//' | nrpe_status_colorize "${MSMS_FLAG_COLOR}"

#
# Check queue error directory size.
#
{% for mmodule in [['mentat-inspector.py', 'INSP A'], ['mentat-inspector-b.py', 'INSP B'], ['mentat-enricher.py', 'ENRCH '], ['mentat-storage.py', 'STRG  ']] %}
echo -n "{{ mmodule[1] }} ERRS - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/errors -w {{ hm_mentat__check_queue_dirs['w'] }} -c {{ hm_mentat__check_queue_dirs['c'] }} | nrpe_status_colorize "${MSMS_FLAG_COLOR}"
echo -n "{{ mmodule[1] }} PEND - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/pending -w {{ hm_mentat__check_queue_dirs['w'] }} -c {{ hm_mentat__check_queue_dirs['c'] }} | nrpe_status_colorize "${MSMS_FLAG_COLOR}"
echo -n "{{ mmodule[1] }} INCM - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/incoming -w {{ hm_mentat__check_queue_size['w'] }} -c {{ hm_mentat__check_queue_size['c'] }} | nrpe_status_colorize "${MSMS_FLAG_COLOR}"
echo -n "{{ mmodule[1] }} TEMP - "
{{ hm_monitored__plugins_dir }}/check_file_count -d {{ hm_mentat__queue_dir }}/{{ mmodule[0] }}/tmp -w {{ hm_mentat__check_queue_dirs['w'] }} -c {{ hm_mentat__check_queue_dirs['c'] }} | nrpe_status_colorize "${MSMS_FLAG_COLOR}"
{% endfor %}
